body {
  background-color: aliceblue;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.top-container {
  padding: 100px 15% 20px;
  background-color: #c9eeff;
  margin-bottom: 30px;
}

.heading h1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", sans-serif;
  color: #0e8388;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #0e8388;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #11cdd4;
}

.top-cloud {
  position: absolute;
  right: 280px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  top: 350px;
  left: 300px;
  bottom: 300px;
}

.mountain {
  text-align: center;
  padding: 0 auto;
}

.middle-container {
  margin-top: 50px;
  text-align: center;
}

.profile-pic {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.horizontal-line {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 10%;
  border-bottom: none;
  border-top: dotted 8px rgb(94, 88, 88);
}

.profile-text {
  padding: 80px 50px 20px;
  font-size: 1.3rem;
}

.profile p {
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
}

.skills {
  margin-top: 50px;
  margin-bottom: 200px;
}

.skills h2 {
  font-weight: 600;
  color: #0e8388;
  font-family: "Montserrat", sans-serif;
}

.skills h3 {
  color: #11cdd4;
  font-family: "Montserrat", sans-serif;
}

.skill1-img {
  height: 250px;
  width: 30%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  height: 250px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

@media (max-width: 900px) {
  .profile p {
    width: 100%;
  }

  .skills {
    text-align: center;
  }

  .bottom-cloud {
    position: absolute;
    left: 150px;
    top: 360px;
  }

  .top-cloud {
    position: absolute;
    right: 100px;
  }

  .skill1-img {
    clear: right;
    width: 94%;
    height: auto;
    margin: auto;
    padding-bottom: 40px;
  }

  .skill2-img {
    text-align: center;
    clear: left;
    width: 85%;
    height: auto;
    margin: 0 45px;
    padding-bottom: 40px;
  }

  .mountain {
    width: 300px;
  }

  .skill1-text {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    font-size: 1.1rem;
  }

  .skill2-text {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  .bottom-cloud {
    position: absolute;
    left: 40px;
    top: 480px;
  }
}

.skills {
  text-align: center;
}

.skill-row {
  width: 65%;
  margin: 100px auto 100px auto;
  font-size: 20px;
  text-align: left;
  line-height: 2;
}
/* display: flex;
  align-items: center;
} */

.contact-me {
  margin-top: 150px;
}

.contact-me h2 {
  font-weight: 800;
  font-size: 1.4em;
  color: #0e8388;
}

.contact-me h3 {
  padding-top: 40px;
  width: 80%;
  margin: auto;
  color: #11cdd4;
}

.contact-me p {
  width: 50%;
  font-size: 1.2rem;
  margin: 40px auto 50px auto;
}

.btn {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  color: #fffbeb;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
}

.btn:hover {
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.bottom-container {
  background-color: #0e8388;
  width: 100%;
  padding: 20px 0 30px 0;
  margin-top: 40px;
  text-align: center;
}

.bottom-text {
  margin: 0px;
  color: #eaf6f6;
  font-size: 0.9rem;
  padding: 20px 0 10px 0;
}

.footer-link {
  text-decoration: none;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 30px 40px 30px 40px;
  color: #11cdd4;
}

.footer-link:hover {
  color: antiquewhite;
}
