body {
  background-color: aliceblue;
  text-align: center;
  font-size: 1.5em;
  margin: 0px;
}

.heading h1 {
  font-weight: 700;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", sans-serif;
  color: #0e8388;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #0e8388;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #11cdd4;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #c9eeff;
  margin-bottom: 30px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin-top: 50px;
}

.profile-pic {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 10%;
  border-bottom: none;
  border-top: dotted 8px lightgray;
}

.profile p {
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
}

.skills {
  margin-top: 50px;
}

.skills h2 {
  font-weight: 600;
}

.skill1-img {
  height: 250px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  height: 250px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

@media (max-width: 800px) {
  .skill1-img {
    clear: right;
    border-radius: 50%;
    width: 300px;
    height: 200px;
  }

  .skill2-img {
    clear: left;
    border-radius: 50%;
    width: 300px;
    height: 200px;
  }

  .skill-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .skill1-text {
    width: 70%;
    text-align: center;
  }
}

.skills {
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  font-size: 20px;
  text-align: left;
  line-height: 2;
}

.contact-me h2 {
  font-weight: 800;
  font-size: 1.4em;
}

.contact-me p {
  width: 50%;
  font-size: 1.2rem;
  margin: 40px auto 50px auto;
}

.btn {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  color: #fffbeb;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
}

.btn:hover {
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.bottom-container {
  background-color: #0e8388;
  width: 100%;
  padding: 20px 0 30px 0;
  margin-top: 40px;
}

.bottom-text {
  margin: 0px;
  color: #eaf6f6;
  font-size: 0.9rem;
  padding: 20px 0 10px 0;
}

.footer-link {
  text-decoration: none;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 30px 40px 30px 40px;
  color: #11cdd4;
}

.footer-link:hover {
  color: antiquewhite;
}

/* .mountain {
  position: absolute;
  top: 220px;
  right: 300px;
} */

/* .div1 {
  width: 200px;
  height: 200px;
  background-color: chocolate;
}

.div2 {
  width: 100px;
  height: 100px;
  background-color: olivedrab;
  position: relative;
  left: 100px;
}

.div3 {
  width: 100px;
  height: 100px;
  background-color: palevioletred;
  position: absolute;
  left: 208px;
} */ ;
